@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: url('/public/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}